.detail-dialog {
  .synopsis {
    padding: 20px;
    background: $background;
    .el-form-item {
      margin-bottom: 0;
      line-height: 20px;
      .el-form-item__label {
        color: #999;
        line-height: 20px;
      }
      .el-form-item__content {
        line-height: 20px;
        * {
          line-height: 20px;
        }
      }
      .important {
        color: $theme;
      }
    }
    .el-row {
      margin-bottom: 16px;
    }
    .el-row:last-child {
      margin-bottom: 0;
    }
  }
  .detail_card {
    margin-top: 14px;
    & > h3 {
      font-size: 14px;
      font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
      font-weight: bold;
      color: $color;
      line-height: 19px;
      vertical-align: middle;
    }
    & > h3::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 14px;
      background: $theme;
      vertical-align: middle;
      margin-right: 4px;
    }
    & > p {
      margin-top: 10px;
      font-size: 13px;
      font-family: MicrosoftYaHei;
      color: $minor;
      line-height: 1.5;
    }
    .footer {
      padding: 30px 0;
    }
    & > table {
      width: 100%;
      margin-top: 10px;
      border-color: #A3AFB9;
    }
    .ueditorHtml {
      img {
        max-width: 100%;
      }
    }
  }
}